# Flutter related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android related
.gradle/
local.properties
android/.gradle/
android/captures/
gradle-wrapper.jar
gradlew
gradlew.bat

# Keystore files (não comite)
key.properties
*.jks
*.keystore

# iOS related (se tiver iOS no projeto)
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
